<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">

      <!-- re-usable login form -->
    <app-login-form [login_form_ui_data]="login_form_ui_data_to_send" (login_event)= "onLogin($event)"></app-login-form>
      <!-- re-usable login form -->
      

    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">

        </nav>
        <div class="copyright pull-left">
          &copy;
            {{test | date: 'yyyy'}},
          <a href="https://www.navtechnologies.in" target="_blank">Powered by SNav Technologies Pvt. Ltd.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
